*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
img{
    max-width: 100%;
}

/* Header Section  */
/* Header Section  */
/* Header Section  */
.header{
    display: flex;
    padding-left: 5%;
    padding-top: 7%;
}
.header .header-content{
    width: 50%;
}
.header .header-content .header-left-title{
    border-left: 5px solid orange;
    margin-top: 5%;
    padding-right: 5%;
}
.header .header-content .header-left-title h1{
    font-size: 50px;
    padding-left: 10px;
    font-weight: bold;
}
.header-left-title .text-tomato{
    color: tomato;
}
.header .header-content  p{
    font-size: 18px;
    padding-top: 22px;
    margin-bottom: 25px;
}
.header .header-content p span{
    color: red;
    font-weight: 600;
}
.header .header-content a{
    background-color: tomato;
    padding: 10px 40px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
}
.header .header-content img{
    width: 80%;
    padding-left: 5%;
}


/* Mossion section  */
/* Mossion section  */
/* Mossion section  */
.mission .mission-title h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
}
.mission .mission-title h1 span{
    color: tomato;
}
.mission-content{
    display: flex;
    padding-left: 5%;
}
.mission-left{
    width: 28%;
    background-color: #ffeeee;
    margin-left: 3%;
    padding: 20px 15px;
}
.mission-left .left-img img{
    width: 120px;
    height: 150px;
    object-fit: cover;
}
.mission-left .left-img h3{
    font-size: 25px;
    padding-top: 10px;
}
.mission-left .left-img p{
    color: #555353;
    padding-top: 15px;
}
.mission-center{
    width: 28%;
    background-color: #edf5f6;
    margin-left: 3%;
    padding: 20px 15px;
}
.mission-center .center-img img{
    width: 120px;
    height: 150px;
    object-fit: cover;
}
.mission-center .center-img h3{
    font-size: 25px;
    padding-top: 10px;
}
.mission-center .center-img p{
    color: #555353;
    padding-top: 15px;
}
.mission-right{
    width: 28%;
    background-color: #ffeeee;
    margin-left: 3%;
    padding: 20px 15px;
}
.mission-right .right-img img{
    width: 120px;
    height: 150px;
    object-fit: cover;
}
.mission-right .right-img h3{
    font-size: 25px;
    padding-top: 10px;
}
.mission-right .right-img p{
    color: #555353;
    padding-top: 15px;
}




/* Develop section  */
/* Develop section  */
/* Develop section  */
.develop{
    display: flex;
    margin-top: 5%;
    padding-left: 5%;
}
.develop .left-bg{
   background-image: url(./images/shape-1.png);
   background-repeat: no-repeat;
   background-size: 300px;
   background-position: left;
}
.develop-content{
    width: 50%;
}
.develop-content img{
    width: 70%;
    margin-left: 20%;
}
.develop-content .develop-title{
    padding-top: 15%;
    padding-right: 10%;
}
.develop-content .develop-title h1{
    font-size: 40px;
    font-weight: 700;
}
.develop-content .develop-title p{
    font-size: 18px;
    padding-top: 15px;
    color: #626262;
    margin-bottom: 5%;
}
.develop-content .develop-title a{
    background-color: tomato;
    padding: 10px 40px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}


/* Community section  */
/* Community section  */
/* Community section  */
.community{
    display: flex;
    margin-top: 7%;
    padding-left: 5%;
    padding-right: 2%;
}
.community .right-bg{
   background-image: url(./images/shape-1.png);
   background-repeat: no-repeat;
   background-size: 200px;
   background-position: right bottom;
}
.community-content{
    width: 50%;
}
.community-content img{
    width: 70%;
    margin-left: 20%;
}
.community-content .community-title{
    padding-top: 15%;
    padding-right: 10%;
    margin-left: 20%;
}
.community-content .community-title h1{
    font-size: 40px;
    font-weight: 700;
}
.community-content .community-title p{
    font-size: 18px;
    padding-top: 18px;
    color: #626262;
    margin-bottom: 5%;
}
.community-content .community-title a{
    background-color: tomato;
    padding: 10px 40px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

/* Corona Section  */
/* Corona Section  */
/* Corona Section  */
.portfolio{
    margin-top: 5%;
}
.portfolio .portfolio-title h1{
    font-size: 50px;
    text-align: center;
}
.portfolio .portfolio-title h1 span {
    color: tomato;
}
.portfolio-sec{
    display: flex;
    padding-left: 15%;
    margin-top: 5%;
}

.portfolio-content{
    width: 50%;
    padding-right: 2%;
}
.portfolio-content img{
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.portfolio-sec .portfolio-content h1{
    font-size: 35px;
}
.portfolio-sec .portfolio-content .title{
    margin-top: 10%;
}
.portfolio-sec .portfolio-content h1 span{
    color: tomato;
}
.portfolio-sec .portfolio-content p{
    font-size: 18px;
    padding-top: 18px;
    color: #626262;
    margin-bottom: 5%;
}
.portfolio-sec .portfolio-content a{
    background-color: tomato;
    padding: 10px 40px;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}



/* Footer section  */
/* Footer section  */
/* Footer section  */
footer{
    background-color: #0b0d17;
    padding: 30px 0;
    margin-top: 5%;
}
footer h1{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #fff;
    text-align: center;
}
footer h1 span{
    color: tomato;
    font-family: 'Playfair Display', serif;
}
footer p{
    text-align: center;
    font-size: 14px;
    color: #ddd;
    margin-top: 10px;
}